[submodule "doc/zxw-graphboard-doc"]
	path = doc/zxw-graphboard-doc
	url = git@github.com:harryhanYuhao/zxw-graphboard-doc.git
[submodule "crates/cartographer"]
	path = crates/cartographer
	url = git@github.com:harryhanYuhao/cartographer.git
